@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.header-nav
{
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.titre-logo
{
  justify-self: flex-start;
  width: 100px;
  height: 50px;
  min-width: 100px;
  min-height: 50px;
  padding-top: 2.5rem;

}
#barre-nav
{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr repeat(3, 10rem);
  padding: 0;
  margin: 0;
}
.lien-nav
{
  color: black;
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  cursor: pointer;
}
.lien-nav:hover 
{
  color: #0065FC;
  border-top: 3px solid #0065FC;
  padding-top: 2.95rem;
}
.nav-inscription
{
  color: #0065FC;
  font-weight: 600;
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  cursor: pointer;
}
.nav-inscription:hover 
{
  color: #0065FC;
  border-top: 3px solid #0065FC;
  padding-top: 2.95rem;
}
main
{
  max-width: 1440px;
  margin: auto;
  padding: 0 1.75rem;
}
h1
{
  font-size: 1.8em;
  margin: 0.7em 0 0.4em 0;
}
.sous-titre-en-tete
{
  margin-top: 0;
  font-size: 1.1rem;
}
.recherche-titre
{
  margin-bottom: 2rem;
}
.recherche-form
{
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.recherche-form-icone
{
  background-color: #80808024;
  border-color: #808080bd;
  border-radius: 1rem 0 0 1rem;
  height: 50px;
  width: 50px;
}
.recherche-form-input
{
  padding: 0 1rem 0 1rem;
  height: 50px;
  width: 225px;
  border-color: #eeeeee40;
  font-size: 1rem;
}
.recherche-form-input-envoyer
{
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}
.fa, .fas
{
  padding: 1.1rem;
  color: #0065fc;
}
.filtres-recherche
{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.filtres-recherche-en-tete-titre
{
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
}
.contenu-filtres-recherche-cat
{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 2rem;
}
.filtres-recherche-cat
{
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  border-left: none;
  height: 52px;
  width: auto;
  cursor: pointer;
}
.filtres-recherche-cat:hover
{
  background-color: #f3f8fffc;
}
.filtres-recherche-icon
{
  background-color: #DEEBFF;
  border-radius: 100%;
  min-height: 54px;
  min-width: 54px;
  display: flex;
  justify-content: center; 
  margin: -2px;
}
.titre-filtres-recherche-cat
{
  padding: 0 0.75rem;
  font-weight: 600;
}
.nombre-resultat-recherche
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 2rem 0;
}
.resultat-recherche-icone
{
  height: 2rem;
  width: 2rem;
  border: solid 1px #d9d9d9a6;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.hebergements-section
{
 display: flex;
}
.hebergements-principaux-ville-marseille
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 1.5rem;
  background-color: #F2F2F2;
  border-radius: 1.4rem;
  padding: 1.5rem 2rem;
}
.hebergements-principal-titre
{
  margin: 0;
  padding: 0 0.6rem 0.6rem 0.6rem;
  grid-column: 1/-1;
}
.carte-hebergement-principal
{
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.carte-hebergement-principal:hover 
{
  transform: scale(1.02);
}
.figure-carte-hebergement-principal
{
  margin: 0;
}
.figure-carte-hebergement-principal-photo
{
  height: 7.5rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}
.titre-figcaption-carte-hebergement-principal
{
  margin: 0.25rem 0 0 0.75rem;
}
.carte-hebergement-principal-description
{
  margin: 0.25rem 0 0 0.75rem;
}
.carte-hebergement-principal-note-generale
{
  margin: 1rem 0 0.65rem 0.75rem;
}
.carte-hebergement-principal-note[data-active=true]
{
  color: #0065FC;
  padding: 0;
}
.carte-hebergement-principal-note[data-active=false]
{
  color: #d9d9d9d1;
  padding: 0;
}
.hebergements-principals-montrer-plus
{
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 0.6rem;
}
.hebergements-populaire-marseille
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 2rem;
  margin-left: 2.5rem;
  background-color: #F2F2F2;
  border-radius: 1.4rem;
  padding: 1.5rem 2rem 2rem 2rem;
  min-width: 28%;
}
.en-tete-titre-hebergements-populaires
{
  display: grid;
  grid-template-columns: 1fr 1.25rem;
  margin-bottom: 1rem;
}
.titre-hebergements-populaires
{
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.icone-logo-populaire
{
  padding: 0;
  color: black;
}
.carte-hebergement-populaire
{
  display: flex;
  background-color: white;
  margin: 0;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.contenu-hebergement-populaire
{
  display: block;
  height: 100%;
  overflow: auto;
}
.contenu-hebergement-populaire:hover 
{
  transform: scale(1.02);
}
.figure-carte-hebergement-populaire
{
  position: relative;
  min-height: 100%;
  width: 35%;
  min-width: 35%;
  max-width: 35%;
}
.figure-carte-hebergement-populaire-photo
{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}
.figcaption-carte-hebergement-populaire
{
  display: flex;
  flex-direction: column;
}
.titre-figcaption-carte-hebergement-populaire
{
  margin: 0.25rem 0.75rem 0 0.75rem;
}
.carte-hebergement-populaire-description
{
  margin: 0.5rem 0.75rem 0 0.75rem;
}
.separateur-titre-note
{
  flex: 1;
}
.carte-hebergement-populaire-note-generale
{
  margin: 3.5rem 0.75rem 0.5rem 0.75rem;
}
.les-activites-ville-marseille
{
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  margin: 4rem 0 4rem 0;
}
.titre-activites-marseille
{
  grid-column: 1/-1;
}
.carteactivites
{
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.contenu-carte-activites:hover 
{
  transform: scale(1.02);
}
.contenu-carte-activites
{
  position: relative;
  flex: 1;
}
.image-contenu-carte-activites
{
  position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.titre-carte-activites
{
  margin: 1.2rem 1.5rem 1.2rem 1.5rem;
}

.pied-de-page
{
  background-color: #F2F2F2;
  width: 100%;
}
.contenu-pied-de-page
{
  display: flex;
  width: 1400px;
  max-width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}
.colonne-contenu-pied-de-page
{
  width: 32%;
  padding: 2rem 2rem 2rem 2rem;
}
.rubrique-colonne-contenu-pied-de-page
{
  display: flex;
  margin: 1rem 0 1rem 0rem;
}
a
{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 375px)
{
.hebergements-populaire-marseille 
{
  padding: 1rem;
}
.hebergements-principaux-ville-marseille  
{
  padding: 1rem;
}
.les-activites-ville-marseille
{
  margin: 2rem 1.5rem;
}
}

@media screen and (min-width: 376px) and (max-width: 500px)
{
.hebergements-populaire-marseille
{
  padding: 2rem;
}

.les-activites-ville-marseille
{
  margin: 2rem 2.2rem 2rem 2.2rem;
}
}

@media screen and (max-width: 500px)
{
.contenu-de-page
{
  padding: 0;
}
.hebergements-principaux-ville-marseille 
{
  grid-template-columns: 1fr;
  background-color: white;
  row-gap: 2rem;
}
.figure-carte-hebergement-principal-photo 
{
  height: 6rem;
}
.les-activites-ville-marseille
{
  row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
}
}



@media screen and (max-width: 600px) 
{
.contenu-de-page
 {
   padding: 0 1rem;
 }

.contenu-filtres-recherche-cat
{
  grid-column-gap: 0.5rem;
  justify-content: flex-start;
}
 
.sous-titre-en-tete
{
  margin-bottom: 2rem;
}
.recherche-form 
{
  display: flex;
  width: 100%;
}
.recherche-form-input
{
  border-right: none;
}
.recherche-form-input-envoyer
{
  border-radius: 1rem;
  margin-left: -10px;
  padding: 0 1.25rem;
}
.recherche-form-input-envoyertext
{
  display: none;
}
.recherche-form-input-envoyericone 
{
  display: block;
  padding: 0;
  color: white;
}
.filtres-recherche-en-tete-titre
{
  font-size: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;
}
}



@media screen and (min-width: 601px)
{
.recherche-form-input-envoyertext
{
  display: block;
}
.recherche-form-input-envoyericone
{
  display: none !important;
}
}



@media screen and (max-width: 768px)
{
.header-nav
{
  margin-bottom: 1rem;
  width: 100%;
  padding: 0;
}
#barre-nav 
{ 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.titre-logo
{
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 1rem;
}
.lien-nav {
  padding: 1rem 2.5rem 2rem 1rem;
  border-bottom: 2px solid #f2f2f2fa;
}

.lien-nav:hover 
{
  padding-top: 1rem;
  color: #0065FC;
  border-top: none;
  border-bottom: 2px solid #0065FC;
}

.nav-inscription
{
  grid-area: 1 / 2 / 2 / 3;
  order: 2;
  justify-self: end;
  padding-right: 4rem;
}
h1
{
  font-size: 1.3rem;
}
.recherche-form-input
{
  width: 12.5rem;
  padding: 0rem 2.5rem 0rem 1rem;
}
.filtres-recherche-cat
{
  font-size: 16px;
}
.contenu-pied-de-page 
{
  flex-direction: column;
  padding: 2rem;
}
.colonne-contenu-pied-de-page 
{
  width: 100%;
  padding: 0;
  margin: 1rem 0;
}
.colonne-contenu-pied-de-page:first-child 
{
  margin-top: 0;
}
.colonne-contenu-pied-de-page:last-child 
{
  margin-bottom: 0;
}
.titre-colonne-contenu-pied-de-page 
{
  margin: 0;
}
.rubrique-colonne-contenu-pied-de-page 
{
  margin-bottom: 0;
}
}

@media screen and (min-width: 766px) and (max-width: 793px)
{
.contenu-filtres-recherche-cat
{
  grid-column-gap: 0.75rem;
}
.titre-filtres-recherche-cat 
{
  padding: 0 0.4rem;
}
}

@media screen and (min-width: 1024px)

{
.titre-hebergements-populaires
{
  grid-column: 1/-1;
}
.les-activites-ville-marseille
{
  row-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 12rem 2rem 2rem 2rem 12rem;
}
.carteactivites1 
{
  grid-row: 2/7;
  grid-column: 1/2;
}
.carteactivites2 
{
  grid-column: 2/3;
  grid-row: 2/5;
}
.carteactivites3
{
  grid-column: 3/4;
  grid-row: 2/7;
}
.carteactivites4
{
  grid-column: 4/5;
  grid-row: 2/3;
}
.carteactivites5
{
  grid-column: 2/3;
  grid-row: 6/7;
}
.carteactivites6
{
  grid-column: 4/5;
  grid-row: 4/7;
}
}

@media screen and (max-width: 1024px)
{
body 
{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
}
h1
{
  font-size: 1.6rem;
}
.sous-titre-en-tete
{
  font-size: 16px;
}
.contenu-filtres-recherche-cat 
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row-gap: 1rem;
}
.titre-filtres-recherche
{
  font-size: 1.2rem;
}
.hebergements-section
{
  display: flex;
  flex-direction: column-reverse;
}
.hebergements-populaire-marseille
{
  margin-left: 0;
  margin-bottom: 2.5rem;
}
}
@media screen and (min-width: 501px) and (max-width: 1023px)
{
.hebergements-principaux-ville-marseille 
{
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.carte-hebergement-principal-note-generale 
{
  margin: 1rem 0 0 0.75rem
}
.titre-carte-activites
{
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 600
}
.les-activites-ville-marseille
{
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 12rem 12rem;
}
}

@media screen and (max-width: 1230px)
{
.filtres-recherche
{
  flex-direction: column;
  align-items: flex-start;
}
}